.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
}

.contact-title {
  font-size: 4rem;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.contact-container p {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #555;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%; /* Menyusun form agar lebar 100% */
  max-width: 500px; /* Membatasi lebar form agar tidak terlalu lebar */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input,
.form-group textarea {
  border-radius: 8px;
  padding: 12px;
  font-size: 0.9rem;
  resize: none;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-family: "Poppins";
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #6b6b6b;
}

.submit-button {
  padding: 12px;
  font-size: 1rem;
  background-color: #6b6b6b;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Poppins";
}

.submit-button:hover {
  background-color: #525252;
}

.success-message {
  font-size: 0.9rem;
  color: #4caf50;
  margin-top: 10px;
  font-weight: 500;
}

.error-message {
  font-size: 0.9rem;
  color: #f44336;
  margin-top: 10px;
  font-weight: 600;
}

@media (max-width: 600px) {
  .contact-container {
    padding: 15px;
  }

  .contact-title {
    font-size: 2.5rem;
  }

  .contact-container p {
    font-size: 0.9rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.9rem;
  }

  .submit-button {
    font-size: 0.9rem;
  }
}
