.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(214, 214, 214, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.loader-image {
  width: 15vw;
  height: 20vh;
  margin-bottom: 5vh;
}

.loader-bar {
  width: 20%;
  height: 1vw;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: flex;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: #000000;
  border-radius: 5px;
  transition: width 0.5s ease-out;
}

@media (max-width: 768px) {
  .loader-image {
    width: 25vw;
    height: 25vh;
  }

  .loader-bar {
    width: 20%;
    height: 1vw;
  }
}

@media (max-width: 480px) {
  .loader-image {
    width: 20vw;
    height: 30vh;
  }

  .loader-bar {
    width: 60%;
    height: 4vw;
  }
}
