.navbar {
  display: flex;
  justify-content: space-between;
  padding: 3px 20px;
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: wrap;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  font-size: 2.5rem;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  flex-grow: 1;
}

.navbar-logo:hover {
  animation: rotateLogo 0.6s infinite ease-in-out;
}

.navbar-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.github-logo {
  width: 50px;
  height: 50px;
  transition: filter 0.3s infinite ease;
}

.github-logo:hover {
  filter: invert(35%) sepia(100%) saturate(1500%) hue-rotate(180deg) brightness(85%) contrast(85%);
}

@keyframes rotateLogo {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@media (max-width: 1200px) {
  .navbar-logo {
    font-size: 2rem;
  }

  .github-logo {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
  }

  .navbar-logo {
    font-size: 1.8rem;
  }

  .github-logo {
    width: 35px;
    height: 35px;
  }

  .navbar-left,
  .navbar-right {
    flex: 1 1 100%;
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .navbar-logo {
    font-size: 1.5rem;
  }

  .github-logo {
    width: 30px;
    height: 30px;
  }

  .navbar {
    padding: 10px 10px;
  }

  .navbar-left,
  .navbar-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
