.scrollText-wrapper {
  width: 100%;
  overflow: hidden;
}

.scroll-text {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 15px;
}

.scroll-text h1 {
  font-size: 9rem;
  white-space: nowrap;
  margin-bottom: 10vw;
}

.initial-text {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.initial-text h1 {
  font-size: 3rem;
  padding-top: 40px;
  margin: 20px;
}
