/* App.css */

.hero-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.open-curtain {
  transform: translateY(100%);
  animation: openCurtain 1.5s forwards ease-in-out;
}

@keyframes openCurtain {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.hero {
  height: 100vh;
  width: 100%;
  background-color: #d1d1d1;
}
